<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
         <pattern> %d{dd/MM/yyyy-HH:mm:ss.SSS,Europe/Madrid} %-5level %logger{36} - [%F:%L] - %msg %n</pattern>
        </encoder>

        <file>${logs.path}/SolvenciaOpen.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- rollover daily -->
          <fileNamePattern>${logs.path}/SolvenciaOpen-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
          <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 4MB -->
            <maxFileSize>4MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <maxHistory>1</maxHistory>
          <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder>
       <pattern>%msg%n</pattern>
      </encoder>

      <file>${logs.path}/SolvenciaOpenMonitor.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- rollover daily -->
        <fileNamePattern>${logs.path}/SolvenciaOpenMonitor-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <!-- or whenever the file size reaches 1 MB -->
          <maxFileSize>1 MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory>1</maxHistory>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
      </rollingPolicy>
    </appender>
  
    <appender name="MONITOR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
       <pattern>%msg%n</pattern>
      </encoder>
    </appender>

    <logger name="es.mapfre.solvencia.open.SolvenciaMonitor" level="info" additivity="false">
      <appender-ref ref="MONITOR_CONSOLE" />
      <appender-ref ref="MONITOR" />
    </logger>
  
    <logger name="oracle.jdbc" level="WARN"/>
     
    <logger name="java.sql" level="WARN"/>
     
    <root level="INFO">
      <appender-ref ref="ROLLING" />
    </root>
</configuration>